KERNEL=="hidraw*", SUBSYSTEM=="hidraw", MODE="0666"
KERNEL=="ttyCH34*", MODE="0666"
KERNEL=="ttyUSB*", SUBSYSTEMS=="usb-serial", MODE="0666"
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", DRIVERS=="usb", SYMLINK+="tty.usb-$attr{devpath}"
#SUBSYSTEM=="hidraw", SUBSYSTEMS=="hid", SYMLINK+="hidraw-relay"
SUBSYSTEM=="hidraw", KERNEL=="hidraw*", SUBSYSTEMS=="hid", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="05df", ATTRS{product}=="USBRelay4", SYMLINK+="hidraw-relay"
